<div class="container-xl contact">
  <h1 class="my-5 pb-3 text-end">Contact me</h1>
  <div class="row my-5 pb-5 text-center i-contact justify-content-end">
    <div class="col-md-2">
      <%= link_to Setting.linkedin_link do %>
        <i class="bi bi-linkedin"></i>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to Setting.github_link do %>
        <i class="bi bi-github"></i>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to Setting.facebook_link do %>
        <i class="bi bi-facebook"></i>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to Setting.google_link do %>
        <i class="bi bi-google"></i>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to Setting.instagram_link do %>
        <i class="bi bi-instagram"></i>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to Setting.twitter_link do %>
        <i class="bi bi-twitter"></i>
      <% end %>
    </div>
  </div>
</div>